@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400&display=swap');


body {
  background-color: #363940;
}

.footer {
    width: 50%;
    background-color: #454545;
  position: fixed;
  bottom: 0px;
  left: 25%;
  text-align: center;
    border-top: 5px solid #6b6b6b;
    padding-bottom:5px;
  padding-top: 15px;
  border-radius: 12px 12px 0px 0px;
  z-index: 9999;
}

h1,h2,h3,h4,h5,h6,p,a,li,span,button,div,input,textarea,summary,details,footer,header,main,strong {
  color: white;
}

a {
  color: #8181c5
}

.weatherstuff {
  padding: 12px;
  color:white;
  position: fixed;
  right: 0;
  top:0;
  text-align: right;
}

/* This is what styles each post */
.postholder {
  background-color: #353a41;
  border-radius: 8px;
  width: 600px;
  margin: 0 auto;
  padding: 12px;
  padding-left: 16px;
  text-align: left;
  color: white;
  font-weight: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  
}

.postholder h3 {
  padding:0;
  margin:0;
}

/* This sets the max size for images in the post */
.postholder img {
  height: 300px;
  width: auto;
  border-radius: 8px;
}

.pfp {
  vertical-align: middle;
}

.postholder video {
  height: 300px;
  width: auto;
  border-radius: 8px;
}

.postholder iframe {
  height: 300px;
  width: 525px;
  border-radius: 8px;
}

.logo {
  position: fixed;
  top:0;
  left:0;
  padding-left: 40px;
}

/* This is just for the profile pictures which dont currently work as it is just a placeholder image */
.users {
  position: fixed;
  top:15%;
  right:15%;
  width: 300px;
  background-color: white;
  padding: 10px;
  border-radius: 10px
}

.buttons {
  text-align: center;
}

.side {
  position: fixed;
  top:14%;
  left:1%;
  padding: 10px;
  border-radius: 10px
}

.title {
  position: fixed;
  top: 1%;
  left: 3%;
  
}

.posts {
  text-align: center;
  background-color:#1b1c1d;
  width: 800px;
  padding-top: 40px;
  padding-bottom: 140px;
  border-radius: 20px;
}

.new {
  text-align: left;
  background-color:#1b1c1d;
  width: 1080px;
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 140px;
  border-radius: 20px;
}

#top {
  display: none;
}

.side2 {
  display: none;
}

iframe {
  height: 300px;
  width: auto;
  border-radius: 8px;
}